.container {
    position: relative;
    /* border: 2px solid red; */
    height: 90vw;
    width: 45vw;
    background: url('/clock.jpg') no-repeat;
    background-size: 100%;
    margin: auto;
}
#hour {
    position: absolute;
    height: 6.5vw;
    width: 0.6vw;
    background-color: black;
    left: 48.3%;
    top: 17.8%;
    transform-origin: bottom;
    /* display: none; */
}
#minute {
    position: absolute;
    height: 10vw;
    width: 0.5vw;
    background-color: black;
    left: 48.35%;
    top: 14%;
    /* display: none; */
    transform-origin: bottom;
    /* display: none; */
}
#second {
    position: absolute;
    height: 13vw;
    width: 0.4vw;
    transform-origin: bottom;
    background-color: black;
    left: 48.5%;
    top: 10.65%;
    /* display: none; */
}